.cards-container > div > h2::after {
  border-bottom: 2px solid #ffea00;
  content: "";
  display: block;
  padding-top: 8px;
  width: 84px;
}

.cards-container > div > p > .button {
  background: #ffea00;
  border-radius: 0;
  color: #202020;
  font-size: 14px;
  font-weight: 600;
  padding: 1em 2.5em;
  text-transform: uppercase;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body p:not(strong) {
  color: dimgray;
  display: block;
  font-size: var(--fontSizeSmall, 14px);
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.photographer-cards > ul > li img {
  border-radius: 50%;
  width: 164px;
  height: 164px;
}

.photographer-cards > ul {
  align-items: center;
  text-align: center;
}

.cards-container .default-content-wrapper em {
  font-size: 14px;
}
