footer {
  padding: 2rem;
  background-color: var(--text-color);
  font-size: var(--body-font-size-s);
  color: white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer .footer-nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer .footer-nav > div > div > p > .button {
  background-color: none;
}

footer .footer .footer-nav > div > div > ul {
  list-style: none;
}

@media (width >= 900px) {
  footer .footer .footer-nav > div > div > ul {
    display: flex;
    gap: 32px;
  }
}

footer .footer .footer-nav > div > div > ul > li > a {
  color: white;
}

footer .footer .footer-nav > div > div > p > a > .icon-facebook {
  background: #f7f7f7;
}

footer .footer .footer-nav > div > div > p > a > .icon-instagram {
  background: #f7f7f7;
}

footer .footer .footer-nav > div > div > p > a > .icon-twitter {
  background: #f7f7f7;
}