.register-button {
    position: fixed;
    top: 25%;
    transform: rotateZ(90deg);
    right: 0;
    z-index: 1;
    margin-right: -35px;
}

.register-button div > .button-container .button {
    background: #ffea00;
    border-radius: 0;
    color: #202020;
    font-size: 14px;
    font-weight: 600;
    padding: 1em 2.5em;
    text-transform: uppercase;
}